################################################################################
# DataSHIELD GHA test suite - dsBase
# Adapted from `azure-pipelines.yml` by Roberto Villegas-Diaz
#
# Inside the root directory $(Pipeline.Workspace) will be a file tree like:
# /dsBase               <- Checked out version of datashield/dsBase
# /dsBase/logs          <- Where results of tests and logs are collated
# /testStatus           <- Checked out version of datashield/testStatus
#
# As of Jul 2025 this takes ~ 9 mins to run.
################################################################################
name: dsBase tests' suite

on:
  push:
  schedule:
    - cron: '0 0 * * 0'   # Weekly
    - cron: '0 1 * * *'   # Nightly

jobs:
  dsBase_test_suite:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    permissions:
      contents: write
    
    # These should all be constant, except TEST_FILTER. This can be used to test 
    # subsets of test files in the testthat directory. Options are like:
    # '*'               <- Run all tests.
    # 'asNumericDS*'    <- Run all asNumericDS tests, i.e. all the arg, etc. tests.
    # '*_smk_*'         <- Run all the smoke tests for all functions.
    env:
      TEST_FILTER: '*'
      _r_check_system_clock_: 0
      WORKFLOW_ID: ${{ github.run_id }}-${{ github.run_attempt }}
      PROJECT_NAME: dsBase
      BRANCH_NAME: ${{ github.ref_name }}
      REPO_OWNER: ${{ github.repository_owner }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - name: Checkout dsBase
        uses: actions/checkout@v4
        with:
          path: dsBase

      - name: Checkout testStatus
        uses: actions/checkout@v4
        with:
          repository: ${{ env.REPO_OWNER }}/testStatus
          token: ${{ secrets.GH_TOKEN }}
          ref: master
          path: testStatus

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          http-user-agent: release
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          dependencies: 'FALSE'  # skip auto detection
          extra-packages: |
            any::rcmdcheck
            bioc::BiocGenerics
            cran::devtools
            cran::git2r
            cran::RCurl
            cran::readr
            cran::magrittr
            cran::xml2
            cran::purrr
            cran::dplyr
            cran::stringr
            cran::tidyr
            cran::quarto
            cran::knitr
            cran::kableExtra
            cran::rmarkdown
            cran::downlit
            cran::usethis
            cran::ellipsis
            cran::memoise
            cran::cachem
            cran::fastmap
            cran::miniUI
            cran::abind
            cran::admisc
            cran::AER
            cran::Amelia
            cran::archive
            cran::askpass
            cran::AUC
            cran::backports
            cran::base
            cran::bbmle
            cran::bench
            cran::betareg
            cran::biglm
            cran::binGroup
            cran::bit
            cran::bit64
            cran::blob
            cran::boot
            cran::brio
            cran::broom
            cran::broom.mixed
            cran::btergm
            cran::callr
            cran::car
            cran::carData
            cran::caret
            cran::carrier
            cran::cba
            cran::cellranger
            cran::childsds
            cran::chron
            cran::class
            cran::cli
            cran::clipr
            cran::cluster
            cran::cmprsk
            cran::coda
            cran::codetools
            cran::colorspace
            cran::covr
            cran::cpp11
            cran::crayon
            cran::curl
            cran::data.table
            cran::datasets
            cran::DBI
            cran::dbplyr
            cran::debugme
            cran::deldir
            cran::Deriv
            cran::desc
            cran::DescTools
            cran::dfoptim
            cran::DiagrammeR
            cran::dichromat
            cran::digest
            cran::disposables
            cran::distributions3
            cran::doMC
            cran::doParallel
            cran::dplyr
            cran::drc
            cran::e1071
            cran::emmeans
            cran::epiR
            cran::ergm
            cran::evaluate
            cran::Exact
            cran::expm
            cran::farver
            cran::ff
            cran::fixest
            cran::forcats
            cran::foreach
            cran::formattable
            cran::fs
            cran::furrr
            cran::future
            cran::gam
            cran::gamlss
            cran::gamlss.data
            cran::gamlss.dist
            cran::gamm4
            cran::gbRd
            cran::gee
            cran::geepack
            cran::generics
            cran::ggplot2
            cran::ggplot2movies
            cran::gld
            cran::glmmTMB
            cran::glmnet
            cran::glmnetUtils
            cran::glue
            cran::gmm
            cran::graph
            cran::graphics
            cran::grDevices
            cran::grid
            cran::gridExtra
            cran::gt
            cran::gtable
            cran::haven
            cran::here
            cran::hexbin
            cran::Hmisc
            cran::hms
            cran::HSAUR3
            cran::htmltools
            cran::htmlwidgets
            cran::httpuv
            cran::httr
            cran::inline
            cran::class
            cran::codetools
            cran::lattice
            cran::MASS
            cran::mgcv
            cran::nlme
            cran::nnet
            cran::rpart
            cran::survival
            cran::interp
            cran::irlba
            cran::isoband
            cran::iterators
            cran::itertools
            cran::joineRML
            cran::jomo
            cran::jose
            cran::jpeg
            cran::jsonlite
            cran::Kendall
            cran::kernlab
            cran::KernSmooth
            cran::knitr
            cran::ks
            cran::labeling
            cran::Lahman
            cran::lars
            cran::later
            cran::lattice
            cran::lavaan
            cran::leaps
            cran::lfe
            cran::lifecycle
            cran::lintr
            cran::literanger
            cran::lm.beta
            cran::lme4
            cran::lmodel2
            cran::lmom
            cran::lmtest
            cran::lobstr
            cran::lsmeans
            cran::lubridate
            cran::magick
            cran::magrittr
            cran::mapproj
            cran::maps
            cran::margins
            cran::markdown
            cran::MASS
            cran::Matrix
            cran::mclust
            cran::mediation
            cran::MEMSS
            cran::merDeriv
            cran::metafor
            cran::methods
            cran::mfx
            cran::mgcv
            cran::mice
            cran::miceadds
            cran::microbenchmark
            cran::mime
            cran::minqa
            cran::mirai
            cran::mitml
            cran::mitools
            cran::mlbench
            cran::mlmRev
            cran::mlogit
            cran::mockery
            cran::modeldata
            cran::modeltests
            cran::muhaz
            cran::multcomp
            cran::munsell
            cran::mvtnorm
            cran::nanotime
            cran::network
            cran::nlme
            cran::nloptr
            cran::nnet
            cran::numDeriv
            cran::nycflights13
            cran::openssl
            cran::optimx
            cran::ordinal
            cran::palmerpenguins
            cran::pan
            cran::parallel
            cran::parallelly
            cran::patchwork
            cran::pbkrtest
            cran::pillar
            cran::pkgconfig
            cran::pkgdown
            cran::pkgKitten
            cran::pkgload
            cran::plm
            cran::plyr
            cran::png
            cran::poLCA
            cran::polyclip
            cran::polycor
            cran::prettyunits
            cran::processx
            cran::profvis
            cran::progress
            cran::proxy
            cran::ps
            cran::psych
            cran::purrr
            cran::purrrlyr
            cran::QCA
            cran::qrng
            cran::quantreg
            cran::R.rsp
            cran::R.utils
            cran::R6
            cran::ragg
            cran::randomForest
            cran::ranger
            cran::RANN
            cran::rbenchmark
            cran::rbibutils
            cran::rcartocolor
            cran::RColorBrewer
            cran::Rcpp
            cran::RcppEigen
            cran::Rdpack
            cran::readr
            cran::readxl
            cran::reformulas
            cran::rematch
            cran::repurrrsive
            cran::reshape2
            cran::rlang
            cran::rmarkdown
            cran::Rmpfr
            cran::RMySQL
            cran::robust
            cran::robustbase
            cran::rootSolve
            cran::roxygen2
            cran::rpart
            cran::RPostgreSQL
            cran::rprojroot
            cran::rr2
            cran::rsample
            cran::RSQLite
            cran::rstan
            cran::rstudioapi
            cran::RUnit
            cran::Ryacas
            cran::sandwich
            cran::scales
            cran::scatterplot3d
            cran::scico
            cran::semEff
            cran::sf
            cran::sfsmisc
            cran::shape
            cran::shiny
            cran::shinyjs
            cran::slam
            cran::sodium
            cran::sp
            cran::SparseM
            cran::spatialreg
            cran::spdep
            cran::speedglm
            cran::spelling
            cran::splines
            cran::statmod
            cran::stats
            cran::stats4
            cran::stringi
            cran::stringr
            cran::survey
            cran::survival
            cran::svglite
            cran::sys
            cran::systemfit
            cran::tcltk
            cran::testthat
            cran::tibble
            cran::tidyr
            cran::tidyselect
            cran::tidyverse
            cran::timechange
            cran::timeDate
            cran::tinytest
            cran::tis
            cran::tools
            cran::tseries
            cran::tzdb
            cran::ucminf
            cran::units
            cran::unix
            cran::usethis
            cran::utf8
            cran::utils
            cran::vars
            cran::vcd
            cran::vctrs
            cran::vdiffr
            cran::VGAM
            cran::VGAMdata
            cran::VGAMextra
            cran::viridis
            cran::viridisLite
            cran::vroom
            cran::waldo
            cran::webutils
            cran::wesanderson
            cran::whoami
            cran::winch
            cran::withr
            cran::xfun
            cran::xml2
            cran::xtable
            cran::xts
            cran::yaml
            cran::zeallot
            cran::zoo
          
      - name: Check man files up-to-date
        run: |
          orig_sum=$(find man -type f | sort -u | xargs cat | md5sum)
          R -e "devtools::document()"
          new_sum=$(find man -type f | sort -u | xargs cat | md5sum)
          if [ "$orig_sum" != "$new_sum" ]; then
            echo "Your committed manual files (man/*.Rd) are out of sync with the R files. Run devtools::document() locally then commit."
            exit 1
          else
            echo "Documentation up-to-date."
          fi
        working-directory: dsBase
        continue-on-error: true

      - name: Run devtools::check
        run: |
          R -q -e "library('devtools'); devtools::check(args = c('--no-tests', '--no-examples'))" | tee ../check.Rout
          grep -q "^0 errors" ../check.Rout && grep -q " 0 warnings" ../check.Rout && grep -q " 0 notes" ../check.Rout
        working-directory: dsBase
        continue-on-error: true

      - name: Run tests with coverage & JUnit report
        run: |
          mkdir -p logs
          R -q -e "devtools::reload();"
          R -q -e '
            write.csv(
              covr::coverage_to_list(
                covr::package_coverage(
                  type = c("none"),
                  code = c('"'"'
                    output_file <- file("test_console_output.txt");
                    sink(output_file);
                    sink(output_file, type = "message");
                    junit_rep <- testthat::JunitReporter$new(file = file.path(getwd(), "test_results.xml"));
                    progress_rep <- testthat::ProgressReporter$new(max_failures = 999999);
                    multi_rep <- testthat::MultiReporter$new(reporters = list(progress_rep, junit_rep));
                    testthat::test_package("${{ env.PROJECT_NAME }}", filter = "${{ env.TEST_FILTER }}", reporter = multi_rep, stop_on_failure = FALSE)'"'"'
                  )
                )
              ),
              "coveragelist.csv"
            )'
          
          mv coveragelist.csv logs/
          mv test_* logs/
          grep -q " FAIL 0 " logs/test_console_output.txt
        working-directory: dsBase

      - name: Check for JUnit errors
        run: |
          issue_count=$(sed 's/failures="0" errors="0"//' test_results.xml | grep -c errors= || true)
          echo "Number of testsuites with issues: $issue_count"
          sed 's/failures="0" errors="0"//' test_results.xml | grep errors= > issues.log || true
          cat issues.log || true
          exit $issue_count
        working-directory: dsBase/logs

      - name: Write versions to file
        run: |
          echo "branch:${{ env.BRANCH_NAME }}" > ${{ env.WORKFLOW_ID }}.txt
          echo "os:$(lsb_release -ds)" >> ${{ env.WORKFLOW_ID }}.txt
          echo "R:$(R --version | head -n1)" >> ${{ env.WORKFLOW_ID }}.txt
        working-directory: dsBase/logs
        
      - name: Parse results from testthat and covr
        run: |
          Rscript --verbose --vanilla ../testStatus/source/parse_test_report.R logs/
        working-directory: dsBase

      - name: Commit results to testStatus
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          cd testStatus
          
          # Reconfigure remote to use GitHub token for authentication
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ env.REPO_OWNER }}/testStatus.git
          git checkout master
          git pull origin master

          mkdir -p logs/${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }}/${{ env.WORKFLOW_ID }}/
          mkdir -p docs/${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }}/${{ env.WORKFLOW_ID }}/
          mkdir -p docs/${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }}/latest/
          # clear the latest directory 
          rm -rf docs/${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }}/latest/*
          
          # Copy logs to new logs directory location
          cp -rv ../dsBase/logs/* logs/${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }}/${{ env.WORKFLOW_ID }}/
          cp -rv ../dsBase/logs/${{ env.WORKFLOW_ID }}.txt logs/${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }}/${{ env.WORKFLOW_ID }}/
          
          # Create symbolic links
          ln -sf ${{ env.WORKFLOW_ID }}/ logs/${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }}/.LATEST
          # ln -sf docs/${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }}/${{ env.WORKFLOW_ID }}/ docs/${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }}/${{ env.WORKFLOW_ID }}/latest
          
          R -e 'input_dir <- file.path("../logs", Sys.getenv("PROJECT_NAME"), Sys.getenv("BRANCH_NAME"), Sys.getenv("WORKFLOW_ID")); quarto::quarto_render("source/test_report.qmd", execute_params = list(input_dir = input_dir))'
          mv source/test_report.html docs/${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }}/${{ env.WORKFLOW_ID }}/index.html
          cp -r docs/${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }}/${{ env.WORKFLOW_ID }}/* docs/${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }}/latest

          git add .
          git commit -m "Auto test for ${{ env.PROJECT_NAME }}/${{ env.BRANCH_NAME }} @ ${{ env.WORKFLOW_ID }}" || echo "No changes to commit"
          git push origin master
          
        env:
          PROJECT_NAME: ${{ env.PROJECT_NAME }}
          BRANCH_NAME: ${{ env.BRANCH_NAME }}
          WORKFLOW_ID: ${{ env.WORKFLOW_ID }}

      - name: Dump environment info
        run: |
          echo -e "\n#############################"
          echo -e "ls /: ######################"
          ls -al .
          echo -e "\n#############################"
          echo -e "lscpu: ######################"
          lscpu
          echo -e "\n#############################"
          echo -e "memory: #####################"
          free -m
          echo -e "\n#############################"
          echo -e "env: ########################"
          env
          echo -e "\n#############################"
          echo -e "R sessionInfo(): ############"
          R -e 'sessionInfo()'
          sudo apt install tree -y
          tree .

